body {
    background-color: rgb(230, 211, 214);
    font-family: "EB+Garamond", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: purple;
}


ul {
    list-style-type: none;
}

.navbar-brand img {
    width: 200px;
}

.list-group-item {
    background-color: rgb(218, 193, 197);
    border: 5px 5px;
    border-color: pink;
    color: rgb(41, 78, 49);
    padding: 15px 32 px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn{
    background-color: rgb(196, 163, 193);
}